  <nav class="menu">
    <li><a href="#Inicio" id="opcion">Inicio</a></li>
    <li><a href="#seccion_obre_mi" id="opcion">Sobre mi</a></li>
    <li><a href="#seccion-skills" id="opcion">Skills</a></li>
    <li><a href="#seccion-formacion" id="opcion">Formación</a></li>
    <li><a href="#seccion-proyectos" id="opcion">Proyectos</a></li>
    <li><a href="#seccion-contacto" id="opcion">Contacto</a></li>
  </nav>

  <div class="list-redes">
    <ul>
      <li>
        <a
          target="_blank"
          href="mailto:miguelcalderon.dev@gmail.com?Subject=Quiero%20contratar%20tus%20servicios%20como%20desarrollador"
        >
          <img src="assets/gmail.png" alt="" class="redSocial" />
        </a>
      </li>

      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/programador-miguel-calderon"
        >
          <img src="assets/In.png" alt="" class="redSocial" />
        </a>
      </li>

      <li>
        <a target="_blank" href="https://github.com/Miguel-Calderon-Gutierrez">
          <img src="assets/github.png" alt="" class="redSocial" />
        </a>
      </li>
    </ul>
  </div>

  <div class="secciones">

    <section id="Inicio" class="item-seccion">
      <div class="container">
        <div class="container-foto">
          <img class="foto" src="assets/foto.jpg" alt="Foto" />

          <a
            class="enlaceCv"
            href="https://udlaedu-my.sharepoint.com/:b:/g/personal/mig_calderon_udla_edu_co/ERzQf9wfmmtKuzT5cOM28vQBqWHg1qHxeeMc0ovCpBglbQ?e=UMsnOA"
            >Ver curriculum</a
          >
        </div>
        <div class="container-palabra">
          <h1 class="palabra">
            Hola, Soy Miguel Calderon, &nbsp;
            <span id="span_cursor">&#160;</span>
          </h1>
          <h1 class="palabra">
            Desarrollador web.
            <span id="span_cursor">&#160;</span>
          </h1>
        </div>
      </div>
    </section>

    <section id="seccion_obre_mi" class="item-seccion">
      <h2>Sobre mi</h2>
      <div class="container-me">
        <p>
          Soy una persona proactiva, organizada y responsable con habilidades de
          relación interpersonales sólidas. Me encanta programar, especialmente
          el desarrollo frontend y backend con el entorno .net. Estoy siempre
          aprendiendo nuevas tecnologías y buscando desafíos laborales para
          crecer profesionalmente.
        </p>

        <img class="imagen_me" src="assets/SobreMi.png" alt="Foto" />
      </div>
    </section>

    <section id="seccion-skills" class="item-seccion">
      <h2>SKILLS</h2>
      <div class="cards-list">
        <div class="card">
          <img src="assets/Csharp.png" alt="" class="skill-img" />
          <span class="skill"> C Sharp </span>
        </div>

        <div class="card">
          <img src="assets/NET_Core_Logo.png" alt="" class="skill-img" />
          <span class="skill"> .NetCore </span>
        </div>

        <div class="card">
          <img src="assets/angular.png" alt="" class="skill-img" />
          <span class="skill"> Angular </span>
        </div>

        <div class="card">
          <img src="assets/Typescript.png" alt="" class="skill-img" />
          <span class="skill"> Typescript </span>
        </div>
        <div class="card">
          <img src="assets/flutter.png" alt="" class="skill-img" />
          <span class="skill"> Flutter </span>
        </div>

        <div class="card">
          <img src="assets/fastapi.svg" alt="" class="skill-img" />
          <span class="skill"> FastAPI </span>
        </div>

        <div class="card">
          <img src="assets/Python.png" alt="" class="skill-img" />
          <span class="skill"> Python </span>
        </div>

        <div class="card">
          <img src="assets/html-5.png" alt="" class="skill-img" />
          <span class="skill"> html </span>
        </div>

        <div class="card">
          <img src="assets/css.png" alt="" class="skill-img" />
          <span class="skill"> css </span>
        </div>

        <div class="card">
          <img src="assets/js.png" alt="" class="skill-img" />
          <span class="skill"> Javascript </span>
        </div>

        <div class="card">
          <img src="assets/bootstrap.png" alt="" class="skill-img" />
          <span class="skill"> bootstrap </span>
        </div>

        <div class="card">
          <img src="assets/Git.png" alt="" class="skill-img" />
          <span class="skill"> Git </span>
        </div>

        <div class="card">
          <img src="assets/sqlServer.png" alt="" class="skill-img" />
          <span class="skill"> SqlServer </span>
        </div>

        <div class="card">
          <img src="assets/mysql.png" alt="" class="skill-img" />
          <span class="skill"> mysql </span>
        </div>
      </div>
    </section>

    <section id="seccion-formacion" class="item-seccion">
      <h2>Formación</h2>
      <div class="container-cards-formacion">
        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img
              src="assets/uniamazonia.png"
              alt=""
              class="logo_institucional"
            />
            <h3 class="titulo_formacion">Ingenieria de sistemas</h3>
          </div>
          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              El programa académico líder en la formación integral de
              profesionales, competentes en el campo académico, investigativo y
              humanístico; comprometidos con el desarrollo tecnológico de la
              región amazónica y del país.
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 5 años</li>
              <li class="descrip-formacion">
                Fecha de realización: 2020- 2024
              </li>
              <li class="descrip-formacion">Estado: cursando 10mo semestre</li>
            </ul>
          </div>
        </div>

        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img src="assets/Alura.jpg" alt="" class="logo_institucional" />
            <h3 class="titulo_formacion">Oracle ONE - G3</h3>
          </div>
          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              El programa equipa a los estudiantes con habilidades técnicas y
              conductuales para actuar como Jr. Developer, un profesional que
              trabaja para crear y mejorar sitios web, software y aplicaciones,
              y los prepara para obtener una oportunidad laboral.
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 6 meses</li>
              <li class="descrip-formacion">
                Fecha de realización: agosto 2022- enero 2023
              </li>
              <li class="descrip-formacion">Estado: concluido</li>
            </ul>
          </div>
        </div>

        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img
              src="assets/uniSergioArboleda.png"
              alt=""
              class="logo_institucional"
            />
            <h3 class="titulo_formacion">Mision Tic 2022</h3>
          </div>

          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              Estrategia del Ministerio de Tecnologías de la Información y de
              las Comunicaciones que tiene como objetivo formar 100.000 jóvenes
              y adultos colombianos en programación, para enfrentar los desafíos
              de la Cuarta Revolución Industrial.
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 800 horas</li>
              <li class="descrip-formacion">Fecha de realización: 2021</li>
              <li class="descrip-formacion">Estado: concluido</li>
            </ul>
          </div>
        </div>

        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img src="assets/Sena.png" alt="" class="logo_institucional" />
            <h3 class="titulo_formacion">Tecnico en sistemas</h3>
          </div>

          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              Enfocado en en las áreas de redes sociales, mantenimiento de
              equipos de cómputo y redes de computadores.
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 2 años</li>
              <li class="descrip-formacion">
                Fecha de realización: 2018 - 2019
              </li>
              <li class="descrip-formacion">Estado: concluido</li>
            </ul>
          </div>
        </div>

        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img src="assets/Sena.png" alt="" class="logo_institucional" />
            <h3 class="titulo_formacion">
              construccion de bases de datos con mysql
            </h3>
          </div>
          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              Construir la base de datos en mysql, de acuerdo con el diseño y
              los requisitos técnicos
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 48 horas</li>
              <li class="descrip-formacion">Fecha de realización: 2021</li>
              <li class="descrip-formacion">Estado: concluido</li>
            </ul>
          </div>
        </div>

        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img src="assets/Sena.png" alt="" class="logo_institucional" />
            <h3 class="titulo_formacion">
              maquetacion de sitios web con html5 y css3
            </h3>
          </div>

          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              Creación del mockup inicial, mockup final, codificación, ajustes y
              finalización de webs.
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 48 horas</li>
              <li class="descrip-formacion">Fecha de realización: 2021</li>
              <li class="descrip-formacion">Estado: concluido</li>
            </ul>
          </div>
        </div>

        <div class="card-fromacion">
          <div class="head-card-fromacion">
            <img
              src="assets/InLearning.png"
              alt=""
              class="logo_institucional"
            />
            <h3 class="titulo_formacion">Aprende Scrum</h3>
          </div>
          <div class="containerItemsDescripcion">
            <p class="descipcionDelPrograma">
              Descubre SCRUM, la metodología ágil de gestión de proyectos que
              marca una tendencia en la industria
            </p>
            <ul>
              <li class="descrip-formacion">Duración: 1 hora 32 minutos</li>
              <li class="descrip-formacion">
                Fecha de realización: 02/01/2022
              </li>
              <li class="descrip-formacion">Estado: concluido</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="seccion-proyectos" class="item-seccion">
      <h2>Proyectos</h2>
      <div class="containerProyectos">
        <div class="card-proyecto">
          <h3 class="nombreProyecto">AppWaste - IA</h3>
          <div class="contenidoProyecto">
            <img src="assets/appWasteH.png" alt="" class="MuestraProyecto" />
            <div class="opcionesProyectos">
              <a
                target="_blank"
                href="https://github.com/Miguel-Calderon-Gutierrez/AppWaste"
                class="OpcionProyecto"
                >Repositorio</a
              >
              <a
                target="_blank"
                href="https://huggingface.co/Giecom/google-vit-base-patch16-224-Waste-O-I-classification"
                class="OpcionProyecto"
                >Modelo IA</a
              >
            </div>
          </div>
        </div>

        <div class="card-proyecto">
          <h3 class="nombreProyecto">Fundación universitaria</h3>
          <div class="contenidoProyecto">
            <img
              src="assets/ProyectoFundacion.png"
              alt=""
              class="MuestraProyecto"
            />
            <div class="opcionesProyectos">
              <a
                target="_blank"
                href="https://github.com/Miguel-Calderon-Gutierrez/ProyectoWeb2022NetCore6"
                class="OpcionProyecto"
                >Repositorio</a
              >
            </div>
          </div>
        </div>

        <div class="card-proyecto">
          <h3 class="nombreProyecto">Juego invasión alienigena</h3>
          <div class="contenidoProyecto">
            <img
              src="assets/invasionAlienigena.jpg"
              alt=""
              class="MuestraProyecto"
            />
            <div class="opcionesProyectos">
              <a
                target="_blank"
                href="https://github.com/Miguel-Calderon-Gutierrez/Kodland-PruebaTecnica-Pygame"
                class="OpcionProyecto"
                >Repositorio</a
              >
            </div>
          </div>
        </div>

        <div class="card-proyecto">
          <h3 class="nombreProyecto">Libreria</h3>
          <div class="contenidoProyecto">
            <img src="assets/Libreria.png" alt="" class="MuestraProyecto" />
            <div class="opcionesProyectos">
              <a
                target="_blank"
                href="https://github.com/Miguel-Calderon-Gutierrez/AppStore"
                class="OpcionProyecto"
                >Repositorio</a
              >
              <a
                target="_blank"
                href="https://www.libreriastore.somee.com/"
                class="OpcionProyecto"
                >Demo</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="seccion-contacto" class="item-seccion">
      <h2>Contacto</h2>
      <div class="container_contacto">
        <img src="assets/email-contac.png" alt="" class="imagen_contacto" />
        <div class="formulario">
          <label class="etiqueta"
            >Asunto: <span class="informe">(Maximo 30 caracteres)</span></label
          >
          <input type="text" id="asunto" class="asunto" maxlength="30" />
          <label class="etiqueta"
            >Mensaje:
            <span class="informe">(Maximo 500 caracteres):</span></label
          >
          <textarea
            name=""
            id="cuerpo"
            class="cuerpo"
            maxlength="600"
          ></textarea>
          <div class="containerBoton">
            <button id="btnenviar">Enviar</button>
          </div>
        </div>
      </div>
    </section>

  </div>

  <footer>
    <h3>&copy;Creado por Miguel Calderon</h3>
    <h3>Florencia-Caqueta, Colombia</h3>
    <h3>2024</h3>
  </footer>


